.dui.button {
    color: white;
    background-color: var(--purple);
    cursor: pointer;
    padding: 2px 16px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    user-select: none;
    min-height: 38px;
    min-width: 60px;
}

.dui.button:hover {
    background-color: var(--hovered-purple);
}

.dui.button.gray {
    color: #f6f6f7;
    background-color: #4f545c;
    cursor: pointer;
    padding: 2px 16px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    user-select: none;
    min-height: 38px;
    min-width: 60px;
}


.dui.button.outlined {
    color: var(--purple);
    background-color: transparent;
    cursor: pointer;
    padding: 2px 16px;
    border: 1px solid var(--purple);
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    user-select: none;
    min-height: 38px;
    min-width: 60px;
}

.dui.button.danger {
    color: var(--danger);
    background-color: transparent;
    cursor: pointer;
    padding: 2px 16px;
    border: 1px solid var(--danger);
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    user-select: none;
    min-height: 38px;
    min-width: 60px;
}